<a href="https://colab.research.google.com/github/BarbaraSantano/Proyecto-restaurante/blob/main/prueba01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Mostrar por pantalla la suma de dos números**

In [16]:
numero1 = int(input("Ingrese primer número: "))

Ingrese primer número: 6

In [23]:
numero2 = float(input("Ingrese segundo número: "))

Ingrese segundo número: 3.1416

In [24]:
total = numero1 + numero2
total
print(total)

9.1416

In [29]:
miVariable = 2
print(miVariable)
print(miVariable)
print(miVariable)

2
2
2

In [30]:
miVariable = 6
print(miVariable)

6

In [31]:
x = 10
y = 2
z = x + y
print(x)
print(y)
print(z)

10
2
12

In [37]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [43]:
3 == '3'

False